version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: fastify-api:latest
    restart: always
    environment:
      - NODE_ENV=production
      - APP_PORT=3000
      # Para evitar colocar secret aqui, usamos secret externo abaixo.
      - DATABASE_URL_FILE=/run/secrets/DATABASE_URL
    secrets:
      - DATABASE_URL
    networks:
      - traefik-public
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.smarttcode.com.br`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.services.api.loadbalancer.server.port=3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  traefik-public:
    external: true
  backend:
    driver: bridge

secrets:
  DATABASE_URL:
    external: true
