version: "3.8"

services:
  api:
    image: rjunioramorim/cobranca-api:latest        # <-- imagem do registry
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.cobranca.rule=Host(`api.smarttcode.com.br`)"
        - "traefik.http.routers.cobranca.entrypoints=websecure"
        - "traefik.http.routers.cobranca.tls.certresolver=letsencrypt"
    environment:
      NODE_ENV: production
      DATABASE_URL_FILE: /run/secrets/DATABASE_URL
    secrets:
      - DATABASE_URL
    networks:
      - network_public

secrets:
  DATABASE_URL:
    external: true

networks:
  network_public:
    external: true



